a {
  color: #5a79d6;
  text-decoration: none;
  background-color: transparent; }
  a:hover {
    color: #1d49ce;
    text-decoration: none; }

.btn-index {
  color: #fff;
  background-color: #e4effc;
  border-color: #e4effc;
  color: #006591;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); }
  .btn-index:hover {
    color: #fff;
    background-color: #1c84b1;
    border-color: #1c84b1; }
  .btn-index:focus, .btn-index.focus {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08), 0 0 0 0 rgba(247, 84, 116, 0.5); }
  .btn-index.disabled, .btn-index:disabled {
    color: #fff;
    background-color: #f5365c;
    border-color: #f5365c; }
  .btn-index:not(:disabled):not(.disabled):active, .btn-index:not(:disabled):not(.disabled).active,
  .show > .btn-index.dropdown-toggle {
    color: #fff;
    background-color: #006591;
    border-color: #006591; }
    .btn-index:not(:disabled):not(.disabled):active:focus, .btn-index:not(:disabled):not(.disabled).active:focus,
    .show > .btn-index.dropdown-toggle:focus {
      box-shadow: 0 0 0 0 rgba(247, 84, 116, 0.5); }
   
  
.btn-index1 {
  color: #fff;
  background-color: #fdedea;
  border-color: #fdedea;
  color: #e095bb;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); }
  .btn-index1:hover {
    color: #fdedea;
    background-color: #e095bb;
    border-color: #e095bb; }
  .btn-index1:focus, .btn-index.focus {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08), 0 0 0 0 rgba(247, 84, 116, 0.5); }
  .btn-index1.disabled, .btn-index:disabled {
    color: #fff;
    background-color: #f5365c;
    border-color: #f5365c; }
  .btn-index1:not(:disabled):not(.disabled):active, .btn-index:not(:disabled):not(.disabled).active,
  .show > .btn-index.dropdown-toggle {
    color: #fff;
    background-color: #df70a8;
    border-color: #df70a8; }
    .btn-index1:not(:disabled):not(.disabled):active:focus, .btn-index:not(:disabled):not(.disabled).active:focus,
    .show > .btn-index.dropdown-toggle:focus {
      box-shadow: 0 0 0 0 rgba(247, 84, 116, 0.5); }        
 
.btn-index2 {
  color: #fff;
  background-color: #dee3f3;
  border-color: #dee3f3;
  color: #5a79d6;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); }
  .btn-index2:hover {
    color: #dee3f3;
    background-color: #5a79d6;
    border-color: #5a79d6; }
  .btn-index2:focus, .btn-index.focus {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08), 0 0 0 0 rgba(247, 84, 116, 0.5); }
  .btn-index2.disabled, .btn-index:disabled {
    color: #fff;
    background-color: #f5365c;
    border-color: #f5365c; }
  .btn-index2:not(:disabled):not(.disabled):active, .btn-index:not(:disabled):not(.disabled).active,
  .show > .btn-index.dropdown-toggle {
    color: #fff;
    background-color: #4761ad;
    border-color: #4761ad; }
    .btn-index2:not(:disabled):not(.disabled):active:focus, .btn-index:not(:disabled):not(.disabled).active:focus,
    .show > .btn-index.dropdown-toggle:focus {
      box-shadow: 0 0 0 0 rgba(247, 84, 116, 0.5); }   

 
.btn-index3 {
  color: #fff;
  background-color: #e2f5fd;
  border-color: #e2f5fd;
  color: #7ad4fa;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); }
  .btn-index3:hover {
    color: #e2f5fd;
    background-color: #7ad4fa;
    border-color: #7ad4fa; }
  .btn-index3:focus, .btn-index.focus {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08), 0 0 0 0 rgba(247, 84, 116, 0.5); }
  .btn-index3.disabled, .btn-index:disabled {
    color: #fff;
    background-color: #f5365c;
    border-color: #f5365c; }
  .btn-index3:not(:disabled):not(.disabled):active, .btn-index:not(:disabled):not(.disabled).active,
  .show > .btn-index.dropdown-toggle {
    color: #fff;
    background-color: #40b0e0;
    border-color: #40b0e0; }
    .btn-index3:not(:disabled):not(.disabled):active:focus, .btn-index:not(:disabled):not(.disabled).active:focus,
    .show > .btn-index.dropdown-toggle:focus {
      box-shadow: 0 0 0 0 rgba(247, 84, 116, 0.5); }   
/* .btn-index {
  color: #fff;
  background-color: #ade5fd;
  border-color: #ade5fd;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); }
  .btn-index:hover {
    color: #fff;
    background-color: #7cd8ff;
    border-color: #7cd8ff; }
  .btn-index:focus, .btn-index.focus {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08), 0 0 0 0 rgba(247, 84, 116, 0.5); }
  .btn-index.disabled, .btn-index:disabled {
    color: #fff;
    background-color: #f5365c;
    border-color: #f5365c; }
  .btn-index:not(:disabled):not(.disabled):active, .btn-index:not(:disabled):not(.disabled).active,
  .show > .btn-index.dropdown-toggle {
    color: #fff;
    background-color: #006591;
    border-color: #006591; }
    .btn-index:not(:disabled):not(.disabled):active:focus, .btn-index:not(:disabled):not(.disabled).active:focus,
    .show > .btn-index.dropdown-toggle:focus {
      box-shadow: 0 0 0 0 rgba(247, 84, 116, 0.5); } */
 
.icon-shape-index1 {
  color: #e095bb;
  background-color: #fdedea;
  }

.icon-shape-index2 {
color: #788fd3;
background-color: #dee3f3;
}

.icon-shape-index3 {
  color: #7ad4fa;
  background-color: #e2f5fd;
  }
  /* .icon-shape-index {
    color: #006591;
    background-color: #e4effc;
    } */

.text-index {
  color: #006591 !important; }

  .badge-index {
    color: #6fd0fa;
    background-color: #e2f7ff; }
    a.badge-primary:hover, a.badge-primary:focus {
      color: #fff;
      background-color: #324cdd; }
    a.badge-primary:focus, a.badge-primary.focus {
      outline: 0;
      box-shadow: 0 0 0 0 rgba(94, 114, 228, 0.5); }

      
.imageActiveTab{
  border: 5px solid #bedaff;

}

 .tooltip-inner {
  background-color: #ffffff ;
  color: #172b4d;
}

.bs-tooltip-auto[x-placement^="bottom"] .arrow::before, .bs-tooltip-bottom .arrow::before{
	border-bottom-color: #ffffff;
}

.bs-tooltip-auto[x-placement^="top"] .arrow::before, .bs-tooltip-top .arrow::before{
	border-top-color:#ffffff ;
}

.bs-tooltip-auto[x-placement^="left"] .arrow::before, .bs-tooltip-left .arrow::before{
	border-left-color: #ffffff;
}

.bs-tooltip-auto[x-placement^="right"] .arrow::before, .bs-tooltip-right .arrow::before{
	border-right-color: #ffffff;
}

.navbar-transparent .navbar-nav .nav-link.active {
  color: rgba(255, 255, 255, 1); 
  font-weight: 800;
  font-size: large;
}
.navbar-hover {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.navbar-hover::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 0.175rem;
  background: rgb(255, 255, 255);
  left: 0;
  bottom: 0;
  transform: scale(0);
  transition: transform 0.2s ease;
  /*
  transform: translateY(3px);*/
}

.navbar-hover:hover::after {
  transform: scale(0.8,0.5);
  /*
  transform: translateY(0);*/
}

.myblur--hover {
    position: relative; }
    .myblur--hover .myblur-item {
      transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
      will-change: transform;
      filter: blur(0);
      opacity: 1; }
    .myblur--hover .myblur-hidden {
      position: absolute;
      top: calc(50% + 7px);
      left: 10%;
      width: 85%;
      opacity: 0;
      transition: all 0.15s ease;
      z-index: 100; }
    .myblur--hover:hover .myblur-item {
      opacity: .8;
      filter: blur(4px);
      transform: scale(0.95);
      z-index: 1; }
    .myblur--hover:hover .myblur-hidden {
      opacity: 1;
      top: 50%; }

.go-corner1 {
display: flex;
align-items: center;
justify-content: center;
position: absolute;
width: 40px;
height: 40px;
overflow: hidden;
top: 0;
right: 0;
background-color: #008cc9;
border-radius: 0 4px 0 32px;
}

.go-corner2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 40px;
  height: 40px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #006591;
  border-radius: 0 4px 0 32px;
  }
  
.go-corner3 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 40px;
  height: 40px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #76a4b8;
  border-radius: 0 4px 0 32px;
  }

.go-corner4 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 40px;
  height: 40px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: rgb(7, 81, 112);
  border-radius: 0 4px 0 32px;
  }

.go-corner5 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 40px;
  height: 40px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #72bfe0;
  border-radius: 0 4px 0 32px;
  }
.go-arrow {
margin-top: -4px;
margin-right: -4px;
color: white;
font-family: courier, sans;
}

.card1 {
width: 100%;
border-top-left-radius: calc(0.25rem - 0.0625rem);
border-top-right-radius: calc(0.25rem - 0.0625rem);
display: block;
position: relative;
text-decoration: none;
z-index: 0;
text-align: center;
overflow: hidden;
}

.card1 p {
  position: absolute;
  color: white;
  top: 50%;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, -50%);
}
  
.card1:before {
content: "";
position: absolute;
z-index: 0;
top: -16px;
right: -16px;
background: #008cc9;
height: 32px;
width: 32px;
border-radius: 32px;
transform: scale(1);
transform-origin: 50% 50%;
transition: transform 0.25s ease-out;

}

.card1:hover:before {
  transform: scale(50);
}

.card1:hover p {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.card1:hover h3 {
  transition: all 0.4s ease-out;
  color: #ffffff;
}

.card2 {
width: 100%;
border-top-left-radius: calc(0.25rem - 0.0625rem);
border-top-right-radius: calc(0.25rem - 0.0625rem);
display: block;
position: relative;
text-decoration: none;
z-index: 0;
text-align: center;
overflow: hidden;
}

.card2 p {
  position: absolute;
  color: white;
  top: 50%;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, -50%);
}
  
.card2:before {
content: "";
position: absolute;
z-index: 0;
top: -16px;
right: -16px;
background: #006591;
height: 32px;
width: 32px;
border-radius: 32px;
transform: scale(1);
transform-origin: 50% 50%;
transition: transform 0.25s ease-out;

}
  

.limit p{
  width:80%;
  font-weight: 400;
}

.card2:hover:before {
    transform: scale(50);
}

.card2:hover p {
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);
    z-index: 1;
}

.card2:hover h3 {
    transition: all 0.4s ease-out;
    color: #ffffff;
}

.card3 {
width: 100%;
border-top-left-radius: calc(0.25rem - 0.0625rem);
border-top-right-radius: calc(0.25rem - 0.0625rem);
display: block;
position: relative;
text-decoration: none;
z-index: 0;
text-align: center;
overflow: hidden;
}

.card3 p {
  position: absolute;
  color: white;
  top: 50%;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, -50%);
}
  
.card3:before {
content: "";
position: absolute;
z-index: 0;
top: -16px;
right: -16px;
background: #76a4b8;
height: 32px;
width: 32px;
border-radius: 32px;
transform: scale(1);
transform-origin: 50% 50%;
transition: transform 0.25s ease-out;

}

.card3:hover:before {
  transform: scale(50);
}

.card3:hover p {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.card3:hover h3 {
  transition: all 0.4s ease-out;
  color: #ffffff;
}

.card4 {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 0.0625rem);
  border-top-right-radius: calc(0.25rem - 0.0625rem);
  display: block;
  position: relative;
  text-decoration: none;
  z-index: 0;
  text-align: center;
  overflow: hidden;
  }
  
.card4 p {
  position: absolute;
  color: white;
  top: 50%;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, -50%);
}
  
.card4:before {
content: "";
position: absolute;
z-index: 0;
top: -16px;
right: -16px;
background: rgb(7, 81, 112);
height: 32px;
width: 32px;
border-radius: 32px;
transform: scale(1);
transform-origin: 50% 50%;
transition: transform 0.25s ease-out;

}
  
.card4:hover:before {
  transform: scale(50);
}

.card4:hover p {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.card4:hover h3 {
  transition: all 0.4s ease-out;
  color: #ffffff;
}

.card5 {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 0.0625rem);
  border-top-right-radius: calc(0.25rem - 0.0625rem);
  display: block;
  position: relative;
  text-decoration: none;
  z-index: 0;
  text-align: center;
  overflow: hidden;
  }
  
.card5 p {
  position: absolute;
  color: white;
  top: 50%;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, -50%);
}
  
.card5:before {
content: "";
position: absolute;
z-index: 0;
top: -16px;
right: -16px;
background: #72bfe0;
height: 32px;
width: 32px;
border-radius: 32px;
transform: scale(1);
transform-origin: 50% 50%;
transition: transform 0.25s ease-out;

}

.card5:hover:before {
  transform: scale(50);
}

.card5:hover p {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.card5:hover h3 {
  transition: all 0.4s ease-out;
  color: #ffffff;
}


.my-section-shaped {
    position: relative;
    overflow: hidden; }
    .section-shaped.section-hero:before {
      top: 680px; }
    .section-shaped .stars-and-coded {
      margin-top: 8rem; }
    .section-shaped .shape {
      position: absolute;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%; }
      .section-shaped .shape span {
        position: absolute; }
      .section-shaped .shape + .container {
        position: relative;
        height: 100%; }
      .section-shaped .shape.shape-skew + .container {
        padding-top: 0; }
        .section-shaped .shape.shape-skew + .container .col {
          margin-top: -100px; }
      .section-shaped .shape.shape-skew + .shape-container {
        padding-top: 18rem;
        padding-bottom: 19rem; }
    .section-shaped .shape-skew {
      transform: skewY(-4deg);
      transform-origin: 0; }
      .section-shaped .shape-skew span {
        transform: skew(4deg); }
    .section-shaped .shape-primary {
      background: linear-gradient(150deg, #83818a 15%, #8f6ed5 70%, #d782d9 94%); }
      .section-shaped .shape-primary :nth-child(1) {
        background: #53f; }
      .section-shaped .shape-primary :nth-child(2) {
        background: #4553ff; }
      .section-shaped .shape-primary :nth-child(3) {
        background: #4f40ff; }
      .section-shaped .shape-primary :nth-child(4) {
        background: #25ddf5; }
      .section-shaped .shape-primary :nth-child(5) {
        background: #1fa2ff; }
    .section-shaped .shape-default {
      background: linear-gradient(150deg, #7f43be 15%, #e84c89 30%, #ec6d45 70%, #f8c491 94%); }
      .section-shaped .shape-default :nth-child(1) {
        background: #7795f8; }
      .section-shaped .shape-default :nth-child(2) {
        background: #7b9aff; }
      .section-shaped .shape-default :nth-child(3) {
        background: #6f8ff8; }
      .section-shaped .shape-default :nth-child(4) {
        background: #76eea7; }
      .section-shaped .shape-default :nth-child(5) {
        background: #6adaff; }
    .section-shaped .shape-light {
      background: linear-gradient(150deg, shapes-light-color("step-1-gradient-bg") 15%, shapes-light-color("step-2-gradient-bg") 70%, shapes-light-color("step-3-gradient-bg") 94%); }
      .section-shaped .shape-light :nth-child(1) {
        background: shapes-light-color("span-1-bg"); }
      .section-shaped .shape-light :nth-child(2) {
        background: shapes-light-color("span-2-bg"); }
      .section-shaped .shape-light :nth-child(3) {
        background: shapes-light-color("span-3-bg"); }
      .section-shaped .shape-light :nth-child(4) {
        background: shapes-light-color("span-4-bg"); }
      .section-shaped .shape-light :nth-child(5) {
        background: shapes-light-color("span-5-bg"); }
    .section-shaped .shape-dark {
      background: linear-gradient(150deg, #32325d 15%, #32325d 70%, #32325d 94%); }
      .section-shaped .shape-dark :nth-child(1) {
        background: #2e2e57; }
      .section-shaped .shape-dark :nth-child(2) {
        background: #2b2b58; }
      .section-shaped .shape-dark :nth-child(3) {
        background: #25254d; }
      .section-shaped .shape-dark :nth-child(4) {
        background: #d782d9; }
      .section-shaped .shape-dark :nth-child(5) {
        background: #008169; }
    .section-shaped .shape-style-1 span {
      height: 120px;
      width: 120px;
      border-radius: 50%; }
    .section-shaped .shape-style-1 .span-200 {
      height: 200px;
      width: 200px; }
    .section-shaped .shape-style-1 .span-150 {
      height: 150px;
      width: 150px; }
    .section-shaped .shape-style-1 .span-100 {
      height: 100px;
      width: 100px; }
    .section-shaped .shape-style-1 .span-75 {
      height: 75px;
      width: 75px; }
    .section-shaped .shape-style-1 .span-50 {
      height: 50px;
      width: 50px; }
    .section-shaped .shape-style-1 :nth-child(1) {
      left: -4%;
      bottom: auto;
      background: rgba(255, 255, 255, 0.1); }
    .section-shaped .shape-style-1 :nth-child(2) {
      right: 4%;
      top: 10%;
      background: rgba(255, 255, 255, 0.1); }
    .section-shaped .shape-style-1 :nth-child(3) {
      top: 280px;
      right: 5.66666%;
      background: rgba(255, 255, 255, 0.3); }
    .section-shaped .shape-style-1 :nth-child(4) {
      top: 320px;
      right: 7%;
      background: rgba(255, 255, 255, 0.15); }
    .section-shaped .shape-style-1 :nth-child(5) {
      top: 38%;
      left: 1%;
      right: auto;
      background: rgba(255, 255, 255, 0.05); }
    .section-shaped .shape-style-1 :nth-child(6) {
      width: 200px;
      height: 200px;
      top: 44%;
      left: 10%;
      right: auto;
      background: rgba(255, 255, 255, 0.15); }
    .section-shaped .shape-style-1 :nth-child(7) {
      bottom: 50%;
      right: 36%;
      background: rgba(255, 255, 255, 0.04); }
    .section-shaped .shape-style-1 :nth-child(8) {
      bottom: 70px;
      right: 2%;
      background: rgba(255, 255, 255, 0.2); }
    .section-shaped .shape-style-1 :nth-child(9) {
      bottom: 1%;
      right: 2%;
      background: rgba(255, 255, 255, 0.1); }
    .section-shaped .shape-style-1 :nth-child(10) {
      bottom: 1%;
      left: 1%;
      right: auto;
      background: rgba(255, 255, 255, 0.05); }
    @media (max-width: 991.98px) {
      .section-shaped .shape-style-1 span {
        height: 120px; } }
    @media (max-width: 767.98px) {
      .section-shaped .shape-style-1 span {
        height: 90px; } }
    .section-shaped .shape-style-1.shape-primary {
      /* LINEARGRAD */
      background: linear-gradient(320deg, #7ad4fa,#aae1f8, #b8c3e5,#e5abc8,#fec1b3); } 
      /* background: linear-gradient(150deg, #00b3ff, #7ad4fa, #b8e6fa, #a0fce0,#b7ffea); }  */
    .section-shaped .shape-style-1.shape-default {
      background: linear-gradient(150deg, #7795f8 15%, #6772e5 70%, #555abf 94%); }
    .section-shaped .shape-style-1.shape-light {
      background: linear-gradient(150deg, shapes-light-color("step-1-gradient-bg") 15%, shapes-light-color("step-2-gradient-bg") 70%, shapes-light-color("step-3-gradient-bg") 94%); }
    .section-shaped .shape-style-1.shape-dark {
      background: linear-gradient(150deg, #32325d 15%, #32325d 70%, #32325d 94%); }
    .section-shaped .shape-style-2 span {
      height: 190px; }
    .section-shaped .shape-style-2 .span-sm {
      height: 100px; }
    .section-shaped .shape-style-2 :nth-child(1) {
      width: 33.33333%;
      top: 0;
      left: -16.66666%; }
    .section-shaped .shape-style-2 :nth-child(2) {
      width: 33.33333%;
      top: 0;
      left: 16.66666%;
      right: auto; }
    .section-shaped .shape-style-2 :nth-child(3) {
      width: 33.33333%;
      left: 49.99999%;
      bottom: auto; }
    .section-shaped .shape-style-2 :nth-child(4) {
      width: 33.33333%;
      top: 55%;
      right: -16.66666%; }
    .section-shaped .shape-style-2 :nth-child(5) {
      width: 33.33333%;
      bottom: 0; }
    @media (max-width: 991.98px) {
      .section-shaped .shape-style-2 span {
        height: 120px; } }
    @media (max-width: 767.98px) {
      .section-shaped .shape-style-2 span {
        height: 90px; } }
    .section-shaped .shape-style-3 span {
      height: 140px; }
    .section-shaped .shape-style-3 .span-sm {
      height: 100px; }
    .section-shaped .shape-style-3 :nth-child(1) {
      width: 66%;
      left: -16.66666%;
      bottom: auto; }
    .section-shaped .shape-style-3 :nth-child(2) {
      width: 40%;
      top: 54%;
      right: -16.66666%; }
    .section-shaped .shape-style-3 :nth-child(3) {
      width: 33.33333%;
      top: 34%;
      left: -16.66666%;
      right: auto; }
    .section-shaped .shape-style-3 :nth-child(4) {
      width: 60%;
      bottom: 0;
      right: -16.66666%;
      opacity: .6; }
    .section-shaped .shape-style-3 :nth-child(5) {
      width: 33.33333%;
      bottom: 0; }
    @media (max-width: 991.98px) {
      .section-shaped .shape-style-3 span {
        height: 120px; } }
    @media (max-width: 767.98px) {
      .section-shaped .shape-style-3 span {
        height: 90px; } }

.section-lg {
    padding-top: 4rem;
    padding-bottom: 4rem; 
  }

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block; }

@media (min-width: 992px) {
    [class*="mt--"],
    [class*="mr--"],
    [class*="mb--"],
    [class*="ml--"] {
        position: relative;
        z-index: 5; }
    .mt--100 {
        margin-top: -100px !important; }
    .mr--100 {
        margin-right: -100px !important; }
    .mb--100 {
        margin-bottom: -100px !important; }
    .ml--100 {
        margin-left: -100px !important; }
    .mt--150 {
        margin-top: -150px !important; }
    .mb--150 {
        margin-bottom: -150px !important; }
    .mt--200 {
        margin-top: -200px !important; }
    .mb--200 {
        margin-bottom: -200px !important; }
    .mt--300 {
        margin-top: -300px !important; }
    .mb--300 {
        margin-bottom: -300px !important; }
    .pt-100 {
        padding-top: 100px !important; }
    .pb-100 {
        padding-bottom: 100px !important; }
    .pt-150 {
        padding-top: 150px !important; }
    .pb-150 {
        padding-bottom: 150px !important; }
    .pt-200 {
        padding-top: 200px !important; }
    .pb-200 {
        padding-bottom: 200px !important; }
    .pt-250 {
        padding-top: 250px !important; }
    .pb-250 {
        padding-bottom: 250px !important; }
    .pt-300 {
        padding-top: 300px !important; }
    .pb-300 {
        padding-bottom: 300px !important; } }

.floating {
  animation: floating 3s ease infinite;
  will-change: transform; }
  .floating:hover {
    animation-play-state: paused; }

.floating-lg {
  animation: floating-lg 3s ease infinite; }

.floating-sm {
  animation: floating-sm 3s ease infinite; }


.badge-events {
  color: #fff;
  background-color: #7f43be; }
  a.badge-primary:hover, a.badge-primary:focus {
    color: #fff;
    background-color: #324cdd; }
  a.badge-primary:focus, a.badge-primary.focus {
    outline: 0;
    box-shadow: 0 0 0 0 rgba(94, 114, 228, 0.5); }

.bg-events {
  background-color: #5e72e4 !important; }

a.bg-events:hover, a.bg-events:focus,
button.bg-events:hover,
button.bg-events:focus {
  background-color: #324cdd !important; }

.badge-publications {
  color: #fff;
  background-color: #ec4c6c; }
  a.badge-primary:hover, a.badge-primary:focus {
    color: #fff;
    background-color: #324cdd; }
  a.badge-primary:focus, a.badge-primary.focus {
    outline: 0;
    box-shadow: 0 0 0 0 rgba(94, 114, 228, 0.5); }

.badge-charity {
  color: #fff;
  background-color: #f39e41; }
  a.badge-primary:hover, a.badge-primary:focus {
    color: #fff;
    background-color: #324cdd; }
  a.badge-primary:focus, a.badge-primary.focus {
    outline: 0;
    box-shadow: 0 0 0 0 rgba(94, 114, 228, 0.5); }

.noUi-connect {
  background: #c8ebfa;
}
.noUi-horizontal .noUi-handle, .noUi-vertical .noUi-handle {
  background: #7ad4fa;
}
.noUi-target.noUi-horizontal .noUi-tooltip {
  background-color: #e5abc8;
}

.headroom--not-top {
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #788fd3 !important;
  box-shadow: 0 1px 10px rgba(130, 130, 134, 0.1); }

.homeLink {
  color: white;
}

.homeLink:hover {
  color: white;
}

.badge-pill {
  padding-right: 0.875em;
  padding-left: 0.875em;
  border-radius: 10rem; }

  
.badge-danger {
  color: #ff0a3b;
  background-color: #ffacbc; }
  a.badge-danger:hover, a.badge-danger:focus {
    color: #fff;
    background-color: #ca8694; }
  a.badge-danger:focus, a.badge-danger.focus {
    outline: 0;
    box-shadow: 0 0 0 0 rgba(245, 54, 92, 0.5); }

.typeWriter {
  font-size: 3.3rem;
  font-weight: 600;
  line-height: 1.5; 
  color:white;
}

.icon {
  margin-left: calc(50% - 30px);
  width: 4rem;
  height: 4rem; }
  .icon i, .icon svg {
    font-size: 2.25rem; }

.linkNone {
  color: black;
  text-decoration: none; 
}

.linkNone:hover {
  color: black;
  text-decoration: none; 
}
.linkNone:active {
  color: white;
  text-decoration: none; 
}
/* Card slider for upcoming events */

/*.eventCardSlider {
  box-sizing: border-box;
}*/

.eventcard-bg-wrapper {
  /*box-sizing: border-box;*/
  /*background: rgb(159,23,207);
  background: linear-gradient(167deg, rgba(159,23,207,1) 1%, rgba(181,47,152,1) 5%, rgba(226,96,41,1) 38%, rgba(226,159,41,1) 58%);*/
  background-image: url("https://images.unsplash.com/photo-1514525253161-7a46d19cd819?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*min-height: 60vh;*/
  font-family: 'Montserrat', sans-serif;
}
.eventcard-slider {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all 0.3s;
}

/* .outer {
  overflow: hidden;
} */

/* .clearfix:before,
.clearfix:after {
    content: ".";    
    display: block;    
    height: 0;    
    overflow: hidden; 
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; } */

/* .left_col {
  margin-right: 2px;
  animation: scrolling 3s linear infinite;
} */

@keyframes scrolling {
  0% {transform: translateY(0%);}
  100% {transform: translateY(0%);}
}

/* .card_img {
  width: 100%;
  height: 80%;
  border-radius: 10px;
  object-fit: cover;
} */

.card_text {
  justify-content: center;
  font: size 2rem;
  padding: 5px 0 20px 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* .right_col {
  margin-left: 2px;
} */

.cards_container1 {
  height: 80vh;
  margin-top: 10vw;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/img/events/eventGalleryBg1.jpeg");
  background-size: cover;
  border-radius: 30% 20% 50% 40%;
  overflow: hidden;
}

.cards_container2 {
  height: 80vh;
  margin-top: 10vw;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/img/events/eventGalleryBg3.jpeg");
  border-radius: 40% 50% 20% 30%;
  overflow: hidden;
  background-size: cover;
}

.card_scroll_row{
  width: 100vw;
  height:80vh;
  display:flex;
  overflow: hidden;
  margin: 0vw 0 0vw 0;
  padding: 0;
  position: relative;
}

.cards_container1::before, .cards_container1::after, .cards_container2::before, .cards_container2::after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  z-index: 1;
  content: "";
}

.cards_container2::before {
  left: -5vw;
  background: linear-gradient(to right, rgb(255, 205, 248) 0%, rgb(255, 205, 248) 20%, transparent 100%);
}

/* .cards_container2::after {
  right: -5vw;
  background: linear-gradient(to left, rgb(140, 239, 252) 0%, transparent 100%);
} */

.cards_container1::after {
  left: -5vw;
  background: linear-gradient(to right, rgb(140, 239, 252) 0%, transparent 100%);
}

.cards_container1::before, .cards_container2::after{
  right: -5vw;
  background: linear-gradient(to left, rgb(255, 205, 248) 0, transparent 100%);
}

.row1_content {
  border-radius: 10px;
  list-style: none;
  height:100%;
  display:flex;
  width:50vw;
  animation: scrolling_left 5s linear infinite;
  margin: 0;
  padding: 0;
  align-items: center;
}

.row2_content {
  list-style: none;
  height:100%;
  display:flex;
  width:50vw;
  animation: scrolling_right 5s linear infinite;
  margin: 0;
  padding: 0;
  align-items: center;
}

:root {
  --number-cards-row1: 6;
  --number-cards-row2: 6;
}

@keyframes scrolling_right {
  0% { transform: translateX(90vw); }
  100% { transform: translateX(calc(-56vw*var(--number-cards-row1))); }
}

@keyframes scrolling_left {
  100% { transform: translateX(90vw); }
  0% { transform: translateX(calc(-56vw*var(--number-cards-row2))); }
}

.display_card {
  width: 40vw;
  flex-shrink: 0;
  white-space: nowrap;
  z-index: 1;
  border-radius: 10px;

  text-align: center;
  color: #858c8d;
  background-color: white;
  background-clip: border-box;
  /* border: 0.0625rem solid rgba(0, 0, 0, 0.05); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;

  font: size 3rem;

  /* box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05); */
  margin: 0vw 8vw 0vw 8vw;
}

.display_card img {
  margin: 3vw;
  border-radius: 50px 50px 0px 0px;
  width:80%;
  height:80%;
}

@media screen and (max-width: 992px) {
  .eventcard-slider {
    max-width: 680px;
    height: 400px;
 }
 .card_text {
    font-size: 1rem;
    padding-top: 25px;
  }
}
@media screen and (max-width: 768px) {
  .eventcard-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
 }
 .card_text {
  font-size: 1rem;
  padding-top: 10px;
}
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .eventcard-slider {
    height: 350px;
 }
}
.eventcard-slider__item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .eventcard-slider__item {
    flex-direction: column;
 }
}

.eventcard-slider__item {
  display: flex;
  align-items: center;
}

.eventcard-slider__item.swiper-slide-active .eventcard-slider__img img {
  opacity: 1;
  transition-delay: 0.3s;
}

.eventcard-slider__item.swiper-slide-active .eventcard-slider__content > * {
  opacity: 1;
  transform: none;
}

.eventcard-slider__item.swiper-slide-active .eventcard-slider__content > *:nth-child(1) {
  transition-delay: 0.3s;
}
.eventcard-slider__item.swiper-slide-active .eventcard-slider__content > *:nth-child(2) {
  transition-delay: 0.4s;
}
.eventcard-slider__item.swiper-slide-active .eventcard-slider__content > *:nth-child(3) {
  transition-delay: 0.5s;
}
.eventcard-slider__item.swiper-slide-active .eventcard-slider__content > *:nth-child(4) {
  transition-delay: 0.6s;
}
.eventcard-slider__item.swiper-slide-active .eventcard-slider__content > *:nth-child(5) {
  transition-delay: 0.7s;
}
.eventcard-slider__item.swiper-slide-active .eventcard-slider__content > *:nth-child(6) {
  transition-delay: 0.8s;
}
.eventcard-slider__item.swiper-slide-active .eventcard-slider__content > *:nth-child(7) {
  transition-delay: 0.9s;
}
.eventcard-slider__item.swiper-slide-active .eventcard-slider__content > *:nth-child(8) {
  transition-delay: 1s;
}
.eventcard-slider__item.swiper-slide-active .eventcard-slider__content > *:nth-child(9) {
  transition-delay: 1.1s;
}
.eventcard-slider__item.swiper-slide-active .eventcard-slider__content > *:nth-child(10) {
  transition-delay: 1.2s;
}
.eventcard-slider__item.swiper-slide-active .eventcard-slider__content > *:nth-child(11) {
  transition-delay: 1.3s;
}
.eventcard-slider__item.swiper-slide-active .eventcard-slider__content > *:nth-child(12) {
  transition-delay: 1.4s;
}
.eventcard-slider__item.swiper-slide-active .eventcard-slider__content > *:nth-child(13) {
  transition-delay: 1.5s;
}
.eventcard-slider__item.swiper-slide-active .eventcard-slider__content > *:nth-child(14) {
  transition-delay: 1.6s;
}
.eventcard-slider__item.swiper-slide-active .eventcard-slider__content > *:nth-child(15) {
  transition-delay: 1.7s;
}

.eventcard-slider__img {
  width: 400px;
  flex-shrink: 0;
  height: 300px;
  /*background-image: linear-gradient(147deg, rgba(159,23,207,1) 0%, rgba(226,96,41,1) 74%);*/
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
}

.eventcard-slider__img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0.8;
}
.eventcard-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all 1.3s;
}
@media screen and (max-width: 768px) {
  .eventcard-slider__img {
    transform: translateY(-50%);
    width: 90%;
 }
}
@media screen and (max-width: 576px) {
  .eventcard-slider__img {
    width: 95%;
 }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .eventcard-slider__img {
    height: 270px;
 }
}
.eventcard-slider__content {
  padding-right: 25px;
}
.eventcard-slider__content > * {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.4s;
}
.eventcard-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}
.eventcard-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
}
.eventcard-slider__text {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
}

.eventcard-slider__button {
  display: inline-flex;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}

@media screen and (max-width: 576px) {
  .eventcard-slider__button {
    width: 100%;
 }
}

.eventcard-slider .swiper-container-horizontal > .swiper-pagination-bullets, .eventcard-slider .swiper-pagination-custom, .eventcard-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.eventcard-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50%;
  bottom: auto !important;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .eventcard-slider__pagination {
    transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
 }
}

.eventcard-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
}
@media screen and (max-width: 768px) {
  .eventcard-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
 }
}
.eventcard-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #062744;
  opacity: 0.2;
  transition: all 0.3s;
}
.eventcard-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #fb6340;
  height: 30px;
  box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
}
@media screen and (max-width: 768px) {
  .eventcard-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
 }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.title-upcoming-events {
  margin-top: 20px;
  margin-bottom: 20px;

}

.title-1 {
  font-size: 43px;
  line-height: 58px;
  margin-top: 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-bottom: 40px;
  margin: .67em 0;
  display: block;
  
  text-align: center;
  font-family: inherit;
  -webkit-text-size-adjust: 100%;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.test-container {

}

.charityBody img {
  margin-bottom: 10px;
}



/* Hack for animations resetting */
@-webkit-keyframes fadeInLeft1 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft1 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInLeft2 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft2 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.animate__fadeInLeft1 {
  -webkit-animation-name: fadeInLeft1;
  animation-name: fadeInLeft1;
}

.animate__fadeInLeft2 {
  -webkit-animation-name: fadeInLeft2;
  animation-name: fadeInLeft2;
}

@-webkit-keyframes fadeInRight1 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRight1 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInRight2 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight2 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.animate__fadeInRight1 {
  -webkit-animation-name: fadeInRight1;
  animation-name: fadeInRight1;
}

.animate__fadeInRight2 {
  -webkit-animation-name: fadeInRight2;
  animation-name: fadeInRight2;
}

.verticalAlignTextDiv {
  display: table-cell;
  height: 200px;
  vertical-align: middle;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0.0625rem solid rgba(0, 0, 0, 0.05);
  border-radius: 10px; }
  .card > hr {
    margin-right: 0;
    margin-left: 0; }
  .card > .list-group:first-child .list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem; }
  .card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem; }

  

.nominations_scroll {
  overflow-y:unset;
  overflow-x:auto;
}

.row-fluid{
  white-space: nowrap;
}

.row-fluid .col-lg-3{
  display: inline-block;
  width:100%;
  height:100%;
}

